**Create Tables For The DB Oriflame**

In [ ]:
CREATE TABLE Categories (
    CategoryID INTEGER PRIMARY KEY,
    CateogoryName VARCHAR(255) 
)

GO

CREATE TABLE PostalCode(
    PostalCodeID INTEGER PRIMARY KEY,
    ConsultantCity VARCHAR(255),
    ConsultantCountry VARCHAR(255)
)

GO

CREATE TABLE Suppliers(
    SuppplierID INTEGER PRIMARY KEY,
    SupplierName VARCHAR(255),
    SupplierAdress VARCHAR(255),
    SupplierCity VARCHAR(255),
    SupllierPostalCode INTEGER,
    SupplierCountry VARCHAR(255),
    ContantName VARCHAR(255),

    FOREIGN KEY (SupllierPostalCode) REFERENCES PostalCode(PostalCodeID)
    
)

GO

CREATE TABLE Consultants(
    ConsultantID INTEGER PRIMARY KEY,
    ConsultantName VARCHAR(255),
    ConsultantAdress VARCHAR(255),
    ConsultantPhone VARCHAR(255),
    ConsultantPostalCode INTEGER,

    FOREIGN KEY (ConsultantPostalCode) REFERENCES PostalCode(PostalCodeID)
)

GO

CREATE TABLE Products(
    ProductID INTEGER PRIMARY KEY,
    ProductName VARCHAR(255),
    ProductPrice INTEGER,
    ProductPoints INTEGER,
    QuantityPerProduct INTEGER,
    SupplierID INTEGER,
    CategoryID INTEGER,

    FOREIGN KEY (SupplierID) REFERENCES Suppliers(SuppplierID),
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID)   
)

GO

CREATE TABLE Orders(
    OrderID INTEGER PRIMARY KEY,
    OrderDate DATE,
    ShipDate DATE,
    ConsultantID INTEGER,

    FOREIGN KEY (ConsultantID) REFERENCES Consultants(ConsultantID)
)

GO

CREATE TABLE Products(
    ProductID INTEGER PRIMARY KEY,
    ProductName VARCHAR(255),
    ProductPrice INTEGER,
    ProductPoints INTEGER,
    QuantityPerProduct INTEGER,
    SupplierID INTEGER,
    CategoryID INTEGER,

    FOREIGN KEY (SupplierID) REFERENCES Suppliers(SupplierID),
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID)   
)
GO

CREATE TABLE OrderDetails(
    ProductID INTEGER,
    OrderID INTEGER,
    Quantity INTEGER,

    FOREIGN KEY (ProductID) REFERENCES Products(ProductID),
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID)
)

- **SQL QUERIES:**

In [ ]:
---1. Show the consultants with names starting with the character “P”.
SELECT * FROM Consultants
WHERE ConsultantName LIKE 'P%';

In [ ]:
---2. Show the consultants that have a last name ending in “ska” and a first name starting with “M”.
SELECT *
FROM Consultants
WHERE 
  SUBSTRING(ConsultantName, 1, CHARINDEX(' ', ConsultantName) - 1) LIKE '%ska' -- First Name starts with "M"
  AND SUBSTRING(ConsultantName, CHARINDEX(' ', ConsultantName) + 1, LEN(ConsultantName)) LIKE 'M%'; -- Last Name ends with "ska"

In [ ]:
--3. Show the consultants whose first name has exactly 5 characters. You can use the LIKE operator 
--or the LEN function.

SELECT * FROM Consultants 
WHERE LEN(SUBSTRING(ConsultantName, CHARINDEX(' ', ConsultantName) + 1, LEN(ConsultantName))) = 5

In [ ]:
---4. Show the consultants whose first name has at least 5 characters.
--- Language: sql

SELECT * FROM consultants WHERE 
LEN(SUBSTRING(ConsultantName, CHARINDEX(' ',ConsultantName)+1 , LEN(ConsultantName))) >= 5

In [ ]:
---5. Show the products that have a name consisting of at least 2 words

SELECT * FROM products WHERE ProductName LIKE '% %';

In [ ]:
--6. Show the products that have a name consisting of exactly 2 words.

SELECT *
FROM Products
WHERE 
  LEN(ProductName) - LEN(REPLACE(ProductName, ' ', '')) = 1;

In [ ]:
--7. Show the products that contain the letter “D” in lowercase or uppercase.

SELECT *
FROM Products
WHERE
    ProductName LIKE '%d%' OR
    ProductName LIKE '%D%';

In [ ]:
--8. Show the names of the products that were never ordered.
SELECT ProductID FROM Products WHERE
ProductID NOT IN (SELECT ProductID FROM OrderDetails)

In [ ]:
--9. Show the ID and the sum of the amount for each order.

SELECT ProductID,SUM(ProductPrice) FROM Products WHERE ProductID IN (SELECT ProductID FROM OrderDetails GROUP BY ProductID) GROUP BY ProductID;

In [ ]:
--10. Show the ID of each product and the number of orders in which it is included

SELECT p.ProductID, p.ProductName, COUNT(o.OrderID) AS order_count
FROM Products p
LEFT JOIN OrderDetails o ON p.ProductID = o.ProductID
GROUP BY p.ProductID, p.ProductName;

In [ ]:
--11. Show all product details for products that were ordered at least twice (i.e., that appear in
--2 different orders).

SELECT * FROM Products WHERE
ProductID IN (SELECT ProductID FROM OrderDetails GROUP BY ProductID HAVING COUNT(*) >= 2);

In [ ]:
--12. Show the total profit of each consultant separately

SELECT c.ConsultantName, SUM(od.Quantity * p.ProductPrice) AS TotalProfit FROM Consultants c 
JOIN Orders o ON c.ConsultantID = o.ConsultantID
JOIN OrderDetails od ON o.OrderID = od.OrderID
JOIN Products p ON od.ProductID = p.ProductID
GROUP BY c.ConsultantName;